<h1>Vista Marco</h1>
<h2>Agregando vista enlazada</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/MI0neGzRzw4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>